{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
{{ book.title }}
{% endblock %}

{% block sidebar %}
<input type="button" value="Previous page" onclick="window.history.back()" /> 
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: {{ book.price }}$</li>
        <li class="list-group-item">Availability: {{ book.available }}</li>
        <li class="list-group-item">Shipment: 2-3 days</li>
      </ul>
    <form action="{% url 'cart:cart_add' book.id %}" method="POST">
        {{ cart_product_form }}
        {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Add to cart">
    </form>
{%  endblock %}

{% block content %}
<div class="row">
    <div class="col-4">
        {% load thumbnail %}    
        {% thumbnail book.image "250" as im %}
        <img src="{% if im %}{{ im.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}" alt="Card image cap">
        {% endthumbnail %}
    </div>
    <div class="col-6">
        <p class="h1">{{ book.title }}</p>
        <div class="row">
            <div class="col">
                <p><em>By {{ book.author }}</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{{ book_category.get_absolute_url }}">
                    <p class="text-info">{{ book_category.name }}</p>
                </a>
            </div>
        </div>
        <hr>
        <p class="text-justify">
            {{ book.description|truncatewords:100 }}
        </p>
    </div>
</div>
<hr>
<div class="class">
    <h3 class="text-left">Product details</h3>
</div>
<div class="row">
    <div class="col"><p><strong>Author:</strong> {{ book.author }}</p></div>
    <div class="col"><p><strong>Publishing house:</strong> {{ book.publishing_house }}</p></div>
    <div class="w-100"></div>
    <div class="col"><p><strong>Release date:</strong> {{ book.release_date }}</p></div>
    <div class="col"><p><strong>Pages:</strong> {{ book.pages }}</p></div>
  </div>
<p>Font</p>
{% endblock %}
