{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">
            {% for item in books %}
			    <div class="col-md-4">
				  <div class="card mb-4 box-shadow">
                      <a href="{{ item.get_absolute_url }}">
                        <img class="img-thumbnail" src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}" alt="Card image cap">
                      </a>
					<div class="card-body">
                      <p class="h5"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></p>
                      <p class="card-text"><em>{{ item.author }}</em></p>
                      <p class="card-text">{{ item.category }}</p>
                      <p class="card-text text-primary">{{ item.price }}$</p>
					  <div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
						  <form action="{% url 'cart:cart_add' item.id %}" method="POST">
							  {{ cart_product_form }}
							  {% csrf_token %}
							  <input type="submit" value="Add to cart">
						  </form>
						</div>
					  </div>
					</div>
				  </div>
                </div>
            {% endfor %}
		</div>
    </div>
</div>


{% endblock %}