{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
{% if category %}
{{ category.name }} Books
{% else %}
Home page
{% endif%}
{% endblock %}
{% block content %}

<div class="row">
	{% for item in books %}
		<div class="col-2">
		<div class="product-card">
			<a href="{{ item.get_absolute_url }}">
				<div class="product-tumb">
					<img src="{{ item.image }}" class="product-image">
				</div>
			</a>
			<div class="product-details">
				<span class="product-catagory">{{ item.category }}</span>
				<h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
				<p>{{ item.description|slice:"70" }}{% if item.description|length > 70 %}...{% endif %}</p>
				<div class="product-bottom-details">
					<div class="product-price">${{ item.price }}</div>
					<div class="product-links">
						<form action="{% url 'cart:cart_add' item.id %}" method="POST">
							{{ cart_product_form }}
							{% csrf_token %}
							<button class="product-submit"	type="submit"><a href=""><i class="fa fa-shopping-cart"></i></a></button>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}
