<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Book Book</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/mycss.css">

</head>

<body>
  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <a class="nav-link deco-none" href="/shop">Book Book</a>
      </div>
      <div class="list-group list-group-flush">
      {% block sidebar %}
      {% if categories %}
        {% for category in categories %}
        <a class="list-group-item list-group-item-action bg-light" href="{{  category.get_absolute_url }}">{{ category.name }}</a>
        {% endfor %}
      {% endif %}
      {% endblock %}
      </div>
    </div>
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if search_form %}
            <form class="form-inline" method="GET" action=".">
              {{ search_form.as_p }}
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          {% endif %}
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item mr-4">
              <a class="h5" href="#">Profile</a>
            </li>
            <li class="nav-item mr-4">
              <a class="h5" href="{% url 'account:logout' %}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item mr-4">
              <a class="h5" href="{% url 'account:login' %}">Log in</a>
            </li>
            {% endif %}
            <li class="nav-item mr-4">
              {% with total_items=cart|length %}
              {% if cart|length > 0 %}
                <p>
                  <strong>Cart: </strong>
                  <a class="deco-none" href="{% url 'cart:cart_detail' %}">
                    {{ total_items }} Product{{ total_items|pluralize:'s'}}
                    {{ cart.get_total_price }}
                  </a>
                </p>
              {% else %}
                  Cart is empty
              {% endif %}
              {% endwith %}
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
</body>

</html>
