<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
</head>
<body>
<div class="container">
	<header class="blog-header py-3">
		<div class="row flex-nowrap justify-content-between align-items-center">
			<div class="col-3 pt-1">
			  <a class="h4" href="{% url 'shop:book_list' %}">Home page</a>
			</div>
			<div class="col-3 text-center">
			  <a class="h3" href="{% url 'shop:book_list' %}">Book store</a>
			</div>
			<div class="col-3 text-center">
				{% if request.user.is_authenticated %}
					<a class="h5" href="{% url 'account:logout' %}">Log out</a>
				{%else %}
					<a class="h5" href="{% url 'account:login' %}">Log in</a>
				{% endif %}
			  </div>
			<div class="col-3 d-flex justify-content-end align-items-center">
				{% with total_items=cart|length %}
				{% if cart|length > 0 %}
					<p class="text-primary">
						<strong>Cart: </strong>
						<a href="{% url 'cart:cart_detail' %}">
							{{ total_items }} Product{{ total_items|pluralize:'s'}}
							{{ cart.get_total_price }}
						</a>
					</p>
				{% else %}
						Cart is empty
				{% endif %}
				{% endwith %}
			</div>
		  </div>
	</header>
  
	<div class="nav-scroller py-1 mb-2">
		<nav class="nav d-flex justify-content-between">
			{% for category in categories %}
			<a class="p-2 text-dark" href="{{  category.get_absolute_url }}">{{ category.name }}</a>
			{% endfor %}
		  </nav>
	</div>
<div class="container">
	{% block content %}
	{% endblock %}
</div>
</div>
</body>
</html>