{% extends 'shop/base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
Cart
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Delete</th>
        <th>Unit price</th>
        <th>Price</th>
    </thead>
    <tbody>
        {% for item in cart %}
            {% with book=item.book %}
            <tr>
                <td>
                    <a href="{{ book.get_absolute_url }}">
                        {% thumbnail book.image "100x100" as im %}
                        <img src="{% if im %}{{ im.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}" alt="Card image cap">
                        {% endthumbnail %}
                    </a>
                </td>
                <td><strong>{{ book.title }}</strong> by <em>{{ book.author }}</em></td>
                <td>{{ item.quantity }}</td>
                <td><a href="{% url 'cart:cart_remove' book.id %}" class="text-danger">Delete</a></td>
                <td>{{ item.price }}$</td>
                <td>{{ item.total_price }}$</td>
            </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <p class="font-weight-bold h4">Total price</p>  
            </div>
            <div class="row">
                <p class="font-weight-bold h4">{{ cart.get_total_price }}$</p>
            </div>
        </div>
        <div class="col-4 text-center">
            <p class="h4"><a href="{% url 'shop:book_list' %}" class="text-info">Continue shopping</a></p>
        </div>
        <div class="col-5 text-right">
            <p class="h4"><a href="{% url 'orders:order_create' %}" class="text-info">Checkout</a></p>
        </div>
    </div>
</div>
{% endblock %}